@{
    Layout = "_LayoutAdmin";
}

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Dashboard</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Website Official</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <a href="@Url.Action("CMS_Product", "Admin")" class="btn btn-danger d-none d-lg-block m-l-15" style="color:white;">
                    <i class="fa fa-backward"></i> Back
                </a>
                <a href="@Url.Action("CMS_Product", "Admin")" class="btn btn-success d-none d-lg-block m-l-15" style="color:white;">
                    <i class="fa fa-save"></i> Apply
                </a>
            </div>
        </div>
    </div>

@{
    if (ViewBag.Action == "1")
    {
        <p> Form Edit</p>
    }
    else
    {
        <p> New Form </p>
    }
}